h4{
    text-align: center;
}

.cajita{
    position: relative;
    width: 2vw;
    height: 2vw;
    background-color: brown;
}
@keyframes animation {
    from{
        left: 0;
        background-color: blue;
    }
    to{
        left: 98vw;
        background-color: red;
    }
}
.linear{
    animation: animation 3s infinite linear alternate;
}
.ease{
    animation: animation 3s infinite ease alternate;
}
.ease-in{
    animation: animation 3s infinite ease-in alternate;
}
.ease-in-out{
    animation: animation 3s infinite ease-in-out alternate;
}
.ease-out{
    animation: animation 3s infinite ease-out alternate;
}
