.bottom {
    margin-bottom: 20px;
    background-color: crimson;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 120px 100px;
    grid-template-rows: 100px 120px 100px;
}

div>div {
    background-color: darkgoldenrod;
    margin: 10px;
    padding: 10px;
}

.grid-conteiner1 {
    align-items: start;
    /*ignora el alto */
}

.grid-conteiner2 {
    align-items: end;
    /*ignora el alto */
}

.grid-conteiner3 {
    align-items: center;
    /*ignora el alto */
}

.grid-conteiner4 {
    align-items: stretch;
}