h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
}

p {
    color: red;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    border: solid 10px brown;
    border-radius: 10px;
    padding: 10px;
}

/*Como b, i son elemento es linea dentro del elemento p, no se puede modificar la posición de estos.*/
b,
i {
    color: brown;
}